.banner {
  background-image: url("https://source.unsplash.com/random/1000x500");
  background-size: cover;
  color: white;
  padding: 120px;
}

body {
  font-family: Space mono;
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  font-family: 'Lora', serif;
  margin: 0;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h1 {
  font-family: ;
  color: #f4f2ee;
}

.banner p {
  color: #f4f2ee;
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  opacity: 0.8;
}

h2 {
  color: #A0A0A0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #617143;
  transition: 0.3s ease;
  background: linear-gradient(0.25turn);
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}

a:hover {
  color: #E7AB9A;
}

p {
  color: black;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.container {
  width: 700px;
  margin: 50px auto;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
